html, body {
    background-color: black;
    color: white;
    text-rendering: optimizeLegibility;
    font-family: monospace;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

/* https://github.com/dest4590/CollapseLoaderSite/blob/main/files/css/header.css */
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.header-links a {
    color: #fff;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    transition: all .2s;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 85%;
    margin: auto;
}

.main-block .logo {
    width: 317px;
    height: 0;
    object-fit: cover;
}

.main-block .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-align: center;
}

.main-block .text a {
    display: block;
    font-size: 22px;
    padding: 0.4rem;
    color: white;
    border: 2px #cccccc solid;
}

@keyframes image {
    from {
        height: 0px;
    }

    to {
        height: 114px;
    }
}